n8n/workflows/Real Estate AI Agent.json
{
  "name": "Real Estate AI Agent",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=# SYSTEM PROMPT: KRAKOW REAL ESTATE ANALYSIS EXPERT\n\n## ROLE\nYou are a precise real estate market analyst. Your task is to extract technical data from the listing HTML code and assign a rating (ai_rating) based on defined user preferences.\n\n## YOUR PREFERENCES (RATING CRITERIA)\nAssign `ai_rating` on a 1-10 scale, where 10 is the highest rating, considering:\n- **Location:**: Krakow (highest score: South Krakow).\n- **Area**: minimum 90 sqm.\n- **Layout:**: 3 bedrooms and 2 bathrooms, terrace.\n- **Amenities**: elevator.\n- **Negatives (lower the rating):**: electric heating, gas.\n- **Building type**: boutique (under 50 apartments).\n\n## HINT FROM PAST USER FEEDBACK\nUse the following past user decisions as a soft hint only. Prioritize strong signals first: grade 5 over 4, and grade 1 over 2. Prefer current listing facts over pattern matching.\n\n{{ $json.feedback_hint }}\n\n## INPUT DATA\n- **EXTERNAL_ID**: <ID>{{ $json.external_id }}</ID>\n- **Title**: {{ $json.title }} \n- **Input price**: {{ $json.price }} PLN\n- **Input price per m2**: {{ $json.price_per_m2 }} PLN\n- **Area**: {{ $json.area }} m2\n- **Lot size**: {{ $json.lot_size }} m2\n- **Construction year**: {{ $json.construction_year }}\n\n## LISTING PAGE CONTENT (FOR ANALYSIS)##: \n\n<AD_CONTENT>\n{{ $json.raw_html || '' }} \n</AD_CONTENT>\n\n## DATA EXTRACTION INSTRUCTIONS\nAnalyse the provided HTML inside <AD_CONTENT> and find and fill in gaps in the input data:\n1. **title**: Full, attractive listing title.\n2. **price**: Total property price (remove \"PLN\", \"PLN\", spaces). Return as a number.\n3. **price_per_m2**: Price per sqm. If not available, calculate: price / area.\n4. **area**: Apartment area (number).\n5. **lot_size**: Lot size in ares (only for houses, otherwise 0).\n6. **year**: Construction year (if missing, estimate or use 0).\n7. **ai_rating**: Your rating (1-10) based on the above preferences.\n\n## EMAIL SUMMARY PREPARATION INSTRUCTIONS (email_html_content field)\n\nGenerate HTML content to be inserted into the email summary section. Focus on substantive analysis.\n\nHTML content requirements:\n\nAI Verdict: Brief justification of the ai_rating score (np. \"Ideal area and location, but deducting points for gas\").\n\nPros Analysis: List features matching preferences (np. southern location, terrace, boutique building, 2 bathrooms).\n\nRisk Analysis (Cons): Clearly indicate what lowered the rating (np. \"gas heating\", \"no elevator\", \"no information about number of apartments in the building\").\n\nLocation: Provide the most precise location possible (district, street).\n\nStyling: Use clean HTML. Use <strong>, <ul>, <li>. Do not add CSS styles inside this field (they will be overridden by the n8n template).\n\nExample structure inside the string:\n\"<strong>Listing analysis:</strong> The apartment meets the key area requirement (90m2+) and has the desired 3-bedroom layout. \n<ul>\n  <li>✅ South Krakow (Debniki)</li>\n  <li>✅ Terrace and 2 bathrooms</li>\n  <li>❌ Gas heating (rating lowered)</li>\n</ul>\"\n\n## OUTPUT FORMAT (STRICT JSON)\nReturn ONLY a clean JSON object. Do not add any comments or introductions.\nUnder no circumstances modify the EXTERNAL_ID value = {{ $json.external_id }}\n\nEXTERNAL_ID is in text format, type \"string\"\n\n{\n  \"external_id\": \"string\",\n  \"title\": \"string\",\n  \"price\": number,\n  \"price_per_m2\": number,\n  \"area\": number,\n  \"lot_size\": number,\n  \"construction_year\": number,\n  \"ai_rating\": number,\n  \"ai_analysis_html\": \"string\"\n}",
        "options": {}
      },
      "id": "76c7ac3c-4e20-42f9-841c-308ac84267d0",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        84608,
        22400
      ],
      "retryOnFail": true,
      "typeVersion": 3.1,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "f4522f1b-a289-444c-9e27-4cddc437b4b6",
      "name": "Google Gemini Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "position": [
        81232,
        22624
      ],
      "typeVersion": 1,
      "credentials": {
        "googlePalmApi": {
          "id": "RUID6dHPMLUs8Z12",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 3,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "c3728c8e-3dce-4cbe-a1fb-7403cfa946d6",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              },
              "leftValue": "={{ $json[\"external_id\"] }}",
              "rightValue": ""
            }
          ]
        },
        "options": {}
      },
      "id": "59a814fb-e506-464e-9c6a-9b71ce43db0f",
      "name": "Filter",
      "type": "n8n-nodes-base.filter",
      "position": [
        83024,
        22208
      ],
      "typeVersion": 2.3
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "1MKbw6Rtyj4Y5U_JGg8prLcu_JLL5M9LSpuKcjuSLLO8",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1MKbw6Rtyj4Y5U_JGg8prLcu_JLL5M9LSpuKcjuSLLO8/edit?usp=drivesdk",
          "cachedResultName": "Real Estate AI Agent - Offer assessments (answers)"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": 1597563483,
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1MKbw6Rtyj4Y5U_JGg8prLcu_JLL5M9LSpuKcjuSLLO8/edit#gid=1597563483",
          "cachedResultName": "Liczba odpowiedzi: 1"
        },
        "options": {}
      },
      "id": "d511e73b-1d93-448e-b96a-f5a55b55fee4",
      "name": "Get row(s) in sheet",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        81456,
        22832
      ],
      "typeVersion": 4.7,
      "credentials": {
        "googleApi": {
          "id": "3s9uCfFmDdewTSZw",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nawait new Promise((resolve) => setTimeout(resolve, 15_000));\n\nreturn items;"
      },
      "id": "652b6a57-5ced-47e4-ad3d-c351bf4cd7bd",
      "name": "Wait",
      "type": "n8n-nodes-base.code",
      "position": [
        83936,
        22400
      ],
      "retryOnFail": true,
      "typeVersion": 2,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "a79e2ec4-7180-4e2b-b54b-e3473dd47eaa",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [
        83696,
        22304
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "url": "https://www.otodom.pl/pl/wyniki/sprzedaz/mieszkanie,rynek-pierwotny/wiele-lokalizacji?limit=36&ownerTypeSingleSelect=ALL&areaMin=90&extras=%5BTERRACE%5D&locations=%5Bmalopolskie%2Fkrakow%2Fkrakow%2Fkrakow%2Fdebniki%2Fkostrze%2Cmalopolskie%2Fkrakow%2Fkrakow%2Fkrakow%2Fdebniki%2Fpychowice%2Cmalopolskie%2Fkrakow%2Fkrakow%2Fkrakow%2Fdebniki%2Fruczaj%2Cmalopolskie%2Fkrakow%2Fkrakow%2Fkrakow%2Fdebniki%2Fskotniki%2Cmalopolskie%2Fkrakow%2Fkrakow%2Fkrakow%2Fdebniki%2Ftyniec%2Cmalopolskie%2Fkrakow%2Fkrakow%2Fkrakow%2Fdebniki%2Fzakrzowek%2Cmalopolskie%2Fkrakow%2Fkrakow%2Fkrakow%2Fdebniki%2Fkobierzyn%2Cmalopolskie%2Fkrakow%2Fkrakow%2Fkrakow%2Fdebniki%2Fsidzina%2Cmalopolskie%2Fkrakow%2Fkrakow%2Fkrakow%2Fdebniki%2Fdebniki%2Cmalopolskie%2Fkrakow%2Fkrakow%2Fkrakow%2Fdebniki%2Fbodzow%2Cmalopolskie%2Fkrakow%2Fkrakow%2Fkrakow%2Fdebniki%2Fdebniki-zachod%2Cmalopolskie%2Fkrakow%2Fkrakow%2Fkrakow%2Fdebniki%2Folszyny%5D&by=DEFAULT&direction=DESC",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36"
            }
          ]
        },
        "options": {}
      },
      "id": "5da814ca-b35d-4c87-bbfa-51f3e2d7a8f1",
      "name": "hr-od-apartment",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        81904,
        22432
      ],
      "typeVersion": 4.4
    },
    {
      "parameters": {
        "url": "https://www.nieruchomosci-online.pl/szukaj.html?3,mieszkanie,sprzedaz,,Krak%C3%B3w,,,,,90,,,,,1,,,,,,,1,1,,,,,,,,1,,,1",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36"
            }
          ]
        },
        "options": {}
      },
      "id": "8c2694fa-4640-4975-bc7d-1eff4940a3d4",
      "name": "hr-no-apartment",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        81456,
        22240
      ],
      "typeVersion": 4.4
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-sonnet-4-6",
          "mode": "id"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        84688,
        22624
      ],
      "id": "558ec133-e6a6-4d44-897e-27fa960d8ca1",
      "name": "Anthropic Chat Model",
      "credentials": {
        "anthropicApi": {
          "id": "UPUWFijjQFo0n7KL",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "id": "d0ed7276-3bf4-43be-bb52-8e71f31b35ba",
      "name": "st-apartment",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        81232,
        22240
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "jsCode": "// LEVEL 1: Extract investment/listing URLs from NO search page\nconst items = $input.all();\n\nfunction extractHtml(item) {\n\tif (item.binary?.data?.data) {\n\t\treturn Buffer.from(item.binary.data.data, 'base64').toString('utf-8');\n\t}\n\tif (typeof item === 'string') {\n\t\treturn item;\n\t}\n\tif (typeof item?.json === 'string') {\n\t\treturn item.json;\n\t}\n\tif (item?.json?.data) {\n\t\treturn item.json.data;\n\t}\n\tif (item?.data) {\n\t\treturn item.data;\n\t}\n\treturn JSON.stringify(item?.json || item || '');\n}\n\nfunction cleanText(value) {\n\tif (!value) return '';\n\treturn String(value)\n\t\t.replace(/<[^>]+>/g, ' ')\n\t\t.replace(/&nbsp;|&#160;/g, ' ')\n\t\t.replace(/&amp;/g, '&')\n\t\t.replace(/&quot;/g, '\"')\n\t\t.replace(/&#39;|&apos;/g, \"'\")\n\t\t.replace(/&sup2;/g, '²')\n\t\t.replace(/\\s+/g, ' ')\n\t\t.trim();\n}\n\nfunction toAbsoluteUrl(rawUrl) {\n\tconst value = String(rawUrl || '').trim();\n\tif (!value) return '';\n\tconst absolute = value.startsWith('http')\n\t\t? value\n\t\t: `https://krakow.nieruchomosci-online.pl${value.startsWith('/') ? '' : '/'}${value}`;\n\treturn absolute.split('?')[0].trim();\n}\n\nfunction isInvestmentUrl(url) {\n\tif (!url.includes('nieruchomosci-online.pl')) return false;\n\tif (!/\\.html$/i.test(url)) return false;\n\tif (/\\/szukaj\\.html$/i.test(url)) return false;\n\tif (/\\/(\\d{7,10})\\.html$/i.test(url)) return false;\n\tif (/\\/dodaj\\.html$/i.test(url)) return false;\n\tif (/\\/oferta-dla-/i.test(url)) return false;\n\treturn true;\n}\n\nfunction parseFromHrefFallback(html) {\n\tconst results = [];\n\tconst regex = /href=\"([^\"]+\\.html(?:\\?[^\\\"]*)?)\"/g;\n\tlet match;\n\n\twhile ((match = regex.exec(html)) !== null) {\n\t\tconst url = toAbsoluteUrl(match[1]);\n\t\tif (!url || !isInvestmentUrl(url)) continue;\n\n\t\tconst slug = (url.match(/\\/([^\\/]+)\\.html$/i) || [])[1] || '';\n\t\tresults.push({\n\t\t\turl,\n\t\t\tinvestment_name: cleanText(slug.replace(/-/g, ' ')),\n\t\t\tinvestment_id: slug,\n\t\t});\n\t}\n\n\treturn results;\n}\n\ntry {\n\tconst allResults = [];\n\n\tfor (const item of items) {\n\t\tconst html = extractHtml(item);\n\t\tallResults.push(...parseFromHrefFallback(html));\n\t}\n\n\tconst uniqueMap = new Map();\n\tfor (const entry of allResults) {\n\t\tif (entry?.url) {\n\t\t\tuniqueMap.set(entry.url, entry);\n\t\t}\n\t}\n\n\treturn Array.from(uniqueMap.values()).map((json) => ({ json }));\n} catch (error) {\n\treturn [{ json: { error: `Level 1 parsing error: ${error.message}` } }];\n}\n\n"
      },
      "id": "ff9b0f80-9b45-49b0-8f8a-ffb41a6db154",
      "name": "js-no-parser",
      "type": "n8n-nodes-base.code",
      "position": [
        81680,
        22240
      ],
      "typeVersion": 2,
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "url": "={{ String($json.url || '').trim().replace('https://krakow.nieruchomosci-online.pl/', 'https://www.nieruchomosci-online.pl/') }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "id": "1a96f679-5c21-4b72-9eea-6918a1cdee13",
      "name": "hr-no-investment",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        81904,
        22240
      ],
      "typeVersion": 4.4
    },
    {
      "parameters": {
        "jsCode": "// LEVEL 2: Parse apartments from investment page JSON-LD\nconst crypto = require('crypto');\n\nconst items = $input.all();\nconst results = [];\n\nfunction classifyOffer(offer) {\n\treturn {\n\t\t...offer,\n\t\tgeo_status: 'unknown',\n\t\tgeo_confidence: 'low',\n\t\tgeo_reason: 'Krakow detected but district is missing or unsupported.',\n\t\tpolicy_version: 'south-krakow-v1',\n\t\tis_exception_candidate: false,\n\t\treview_status: 'pending',\n\t\tis_soft_blocked: true,\n\t\tneeds_manual_review: true,\n\t\texcluded_from_feedback_loop: true,\n\t\tis_in_trash: false,\n\t};\n}\n\nfunction extractHtml(item) {\n\tif (item.binary && item.binary.data) {\n\t\treturn Buffer.from(item.binary.data.data, 'base64').toString('utf-8');\n\t}\n\tif (typeof item === 'string') {\n\t\treturn item;\n\t}\n\tif (item && item.data) {\n\t\treturn item.data;\n\t}\n\tif (typeof item.json === 'string') {\n\t\treturn item.json;\n\t}\n\tif (item.json && item.json.data) {\n\t\treturn item.json.data;\n\t}\n\treturn JSON.stringify(item.json || item);\n}\n\nfunction cleanText(value) {\n\tif (!value) {\n\t\treturn '';\n\t}\n\treturn String(value)\n\t\t.replace(/<[^>]+>/g, ' ')\n\t\t.replace(/&nbsp;|&#160;/g, ' ')\n\t\t.replace(/&amp;/g, '&')\n\t\t.replace(/&quot;/g, '\"')\n\t\t.replace(/&#39;|&apos;/g, \"'\")\n\t\t.replace(/&sup2;/g, '²')\n\t\t.replace(/\\s+/g, ' ')\n\t\t.trim();\n}\n\nfunction toNumber(value) {\n\tif (typeof value === 'number') {\n\t\treturn Number.isFinite(value) ? value : 0;\n\t}\n\tif (value === null || value === undefined || value === '') {\n\t\treturn 0;\n\t}\n\tconst normalized = String(value)\n\t\t.replace(/\\u00a0/g, '')\n\t\t.replace(/\\s+/g, '')\n\t\t.replace(',', '.')\n\t\t.replace(/[^\\d.-]/g, '');\n\tconst parsed = Number(normalized);\n\treturn Number.isFinite(parsed) ? parsed : 0;\n}\n\nconst MIN_AREA_SQM = 90;\n\nfunction parseArea(value) {\n\tconst text = cleanText(value);\n\t// Match \"od 90 m²\", \"147,32 m²\", \"90.5 m2\"\n\tconst match = text.match(/(?:od\\s*)?([\\d][\\d\\s.,]*)\\s*m(?:²|2)/i);\n\treturn match ? toNumber(match[1]) : 0;\n}\n\nfunction calculateAreaFromPrice(totalPrice, pricePerM2) {\n\tconst p = toNumber(totalPrice);\n\tconst ppm = toNumber(pricePerM2);\n\tif (ppm > 0 && p > 0) {\n\t\treturn Math.round((p / ppm) * 100) / 100;\n\t}\n\treturn 0;\n}\n\nfunction stripQuery(url) {\n\treturn String(url || '').split('?')[0].trim();\n}\n\nfunction buildDetailUrl(url) {\n\treturn stripQuery(String(url || '')).trim();\n}\n\nfunction extractDistrict(locationText) {\n\tconst location = cleanText(locationText);\n\tif (!location) {\n\t\treturn 'Kraków';\n\t}\n\tconst district = location.replace(/,\\s*Krak[óo]w$/i, '').trim();\n\treturn district || 'Kraków';\n}\n\nfunction findOfferList(node) {\n\tif (!node) {\n\t\treturn [];\n\t}\n\tif (Array.isArray(node)) {\n\t\tconst directOffers = node.filter((entry) => entry && entry['@type'] === 'Offer');\n\t\tif (directOffers.length > 0) {\n\t\t\treturn directOffers;\n\t\t}\n\t\tfor (const entry of node) {\n\t\t\tconst nestedOffers = findOfferList(entry);\n\t\t\tif (nestedOffers.length > 0) {\n\t\t\t\treturn nestedOffers;\n\t\t\t}\n\t\t}\n\t\treturn [];\n\t}\n\tif (typeof node !== 'object') {\n\t\treturn [];\n\t}\n\tfor (const value of Object.values(node)) {\n\t\tconst nestedOffers = findOfferList(value);\n\t\tif (nestedOffers.length > 0) {\n\t\t\treturn nestedOffers;\n\t\t}\n\t}\n\treturn [];\n}\n\nfunction parseJsonLdOffers(html) {\n\tconst blocks = [];\n\tconst regex = /<script[^>]*type=[\"']application\\/ld\\+json[\"'][^>]*>([\\s\\S]*?)<\\/script>/gi;\n\tlet match;\n\n\twhile ((match = regex.exec(html)) !== null) {\n\t\tblocks.push(match[1]);\n\t}\n\n\tfor (const block of blocks) {\n\t\ttry {\n\t\t\tconst parsed = JSON.parse(block.trim());\n\t\t\tconst offers = findOfferList(parsed);\n\n\t\t\tif (offers.length > 0) {\n\t\t\t\treturn offers;\n\t\t\t}\n\t\t} catch (error) {\n\t\t}\n\t}\n\n\treturn [];\n}\n\nfunction buildExternalId(offer, url, index) {\n\tif (url) {\n\t\tconst idMatch = String(url).match(/\\/(\\d+)\\.html/);\n\t\tif (idMatch) return `NO-${idMatch[1]}`;\n\t\treturn `NO-${crypto.createHash('md5').update(url).digest('hex')}`;\n\t}\n\treturn `NO-${index + 1}`;\n}\n\ntry {\n\tfor (const item of items) {\n\t\tconst html = extractHtml(item);\n\t\tconst offers = parseJsonLdOffers(html);\n\n\t\tif (offers.length === 0) {\n\t\t\tcontinue;\n\t\t}\n\n\t\tfor (let index = 0; index < offers.length; index += 1) {\n\t\t\tconst offer = offers[index] || {};\n\t\t\tconst baseUrl = stripQuery(offer.url || '');\n\n\t\t\t// Skip aggregate entries that don't point to an individual offer page\n\t\t\tif (offer.url && !String(offer.url).match(/\\/\\d+\\.html/)) continue;\n\n\t\t\tconst offerId = (baseUrl.match(/\\/(\\d+)\\.html/) || [])[1] || (index + 1);\n\n\t\t\tconst totalPrice = toNumber(offer.price);\n\t\t\tconst pricePerM2 = toNumber(offer.priceSpecification && offer.priceSpecification.price);\n\t\t\tconst nameArea = parseArea(offer.name);\n\t\t\tconst area = nameArea > 0 ? nameArea : calculateAreaFromPrice(totalPrice, pricePerM2);\n\n\t\t\t// Skip offers below minimum area threshold\n\t\t\tif (area > 0 && area < MIN_AREA_SQM) continue;\n\n\t\t\tresults.push(\n\t\t\t\tclassifyOffer({\n\t\t\t\t\texternal_id: buildExternalId(offer, baseUrl, index),\n\t\t\t\t\turl: buildDetailUrl(baseUrl),\n\t\t\t\t\tcategory: 'mieszkanie-krakow',\n\t\t\t\t\ttitle: cleanText(offer.name) || `Oferta NO: ${offerId}`,\n\t\t\t\t\tprice: totalPrice,\n\t\t\t\t\tprice_per_m2: pricePerM2,\n\t\t\t\t\tarea: area,\n\t\t\t\t\tlot_size: 0,\n\t\t\t\t\tconstruction_year: 0,\n\t\t\t\t\tcreated_at: new Date().toISOString(),\n\t\t\t\t\tproperty_portal: 'Nieruchomości online',\n\t\t\t\t\tlocation_text: 'Kraków',\n\t\t\t\t\tdistrict: 'Kraków',\n\t\t\t\t\tmarket_type: 'residential',\n\t\t\t\t\tsource_offer_id: '',\n\t\t\t\t})\n\t\t\t);\n\t\t}\n\t}\n} catch (error) {\n\treturn [{ json: { error: `Level 2 parsing error: ${error.message}` } }];\n}\n\nconst uniqueMap = new Map();\nresults.forEach((result) => uniqueMap.set(result.external_id, result));\n\nreturn Array.from(uniqueMap.values()).map((json) => ({ json }));\n"
      },
      "id": "f9ee36df-0791-4d1b-9f02-5137142c7aac",
      "name": "js-no-apartments",
      "type": "n8n-nodes-base.code",
      "position": [
        82128,
        22240
      ],
      "typeVersion": 2,
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 7
            }
          ]
        }
      },
      "id": "2da97593-73e4-476d-876e-38525226bf62",
      "name": "st-ai-rating",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        82800,
        22400
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 7
            }
          ]
        }
      },
      "id": "4918456f-ce45-4c6c-9ef6-acede46c5787",
      "name": "st-email",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        81232,
        21792
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "content": "## Real Estate AI Agent\n\n**Version:** `1.0.1`\n**Git SHA:** `5a08417`\n**Built:** `2026-04-28`\n\nUpload check:\n- workflow name is `Real Estate AI Agent`\n- metadata node is `Workflow Metadata - v1.0.1`",
        "height": 240,
        "width": 560,
        "color": 4
      },
      "id": "workflow-version-banner",
      "name": "Workflow Version Banner",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        19840,
        5952
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    \"workflow_name\": \"Real Estate AI Agent\",\n    \"workflow_version\": \"1.0.1\",\n    \"workflow_display_name\": \"Real Estate AI Agent\",\n    \"git_sha\": \"5a08417\",\n    \"build_date\": \"2026-04-28\",\n    \"workflow_file\": \"n8n/workflows/Real Estate AI Agent.json\",\n    \"version_source\": \"n8n/workflows/Real Estate AI Agent.json\"\n  }\n}];"
      },
      "id": "workflow-metadata-node",
      "name": "Workflow Metadata - v1.0.1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        20480,
        5952
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM rea_property_offers\nWHERE COALESCE(is_in_trash, FALSE) = FALSE\n  AND (\n    ai_rating IS NULL\n    OR ai_rating < 1\n    OR ai_rating > 10\n    OR COALESCE(NULLIF(ai_analysis_html, ''), '') = ''\n    OR NULLIF(BTRIM(COALESCE(title, '')), '') IS NULL\n    OR COALESCE(price, 0) <= 0\n    OR COALESCE(price_per_m2, 0) <= 0\n    OR COALESCE(area, 0) <= 0\n    OR COALESCE(construction_year, 0) <= 0\n  )\n  AND NULLIF(BTRIM(COALESCE(external_id, '')), '') IS NOT NULL\n  AND LOWER(BTRIM(COALESCE(external_id, ''))) <> 'undefined'\n  AND NULLIF(BTRIM(COALESCE(url, '')), '') IS NOT NULL\n  AND LOWER(BTRIM(COALESCE(url, ''))) <> 'undefined'\n  AND BTRIM(url) ~* '^https?://'\nORDER BY created_at ASC;",
        "options": {
          "queryReplacement": "="
        }
      },
      "id": "80db78ac-7ac0-4671-b7e6-898f8f74c21e",
      "name": "sql-backfill-ai",
      "type": "n8n-nodes-base.postgres",
      "position": [
        83024,
        22400
      ],
      "typeVersion": 2.6,
      "credentials": {
        "postgres": {
          "id": "D430FF4ekWv9XfdT",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ String($json.url || '').trim().replace('https://krakow.nieruchomosci-online.pl/', 'https://www.nieruchomosci-online.pl/') }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "id": "378087a3-65ed-4581-a5c3-928949710d44",
      "name": "hr-backfill",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        83248,
        22400
      ],
      "typeVersion": 4.4
    },
    {
      "parameters": {
        "jsCode": "const allHtmlInputs = $input.all();\nconst allOffersFromSql = $(\"sql-backfill-ai\").all();\n\nreturn allHtmlInputs.map((htmlItem, index) => ({\n  json: {\n    ...(allOffersFromSql[index] ? allOffersFromSql[index].json : {}),\n    raw_html: htmlItem.json.data || \"No HTML content\"\n  }\n}));"
      },
      "id": "7a8961be-4c34-44e6-9347-10a934f9c674",
      "name": "js-backfill-merge-with-desc",
      "type": "n8n-nodes-base.code",
      "position": [
        83472,
        22400
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "// 1. Get HTML from current input (HTTP Request)\nconst allHtmlInputs = $input.all();\n\n// 2. Get data directly from the preceding SQL node\n// Using .all() to match the entire list of records\nconst allOffersFromSql = $(\"sql-add-offer\").all();\n\nreturn allHtmlInputs.map((htmlItem, index) => {\n  // Get data from DB for the same index\n  const sqlRecord = allOffersFromSql[index] ? allOffersFromSql[index].json : {};\n\n  return {\n    ...sqlRecord, // This carries over ai_rating, external_id and everything else from SQL\n    raw_html: htmlItem.json.data || \"No HTML content\"\n  };\n});"
      },
      "id": "cd03e152-0a69-46cf-90f3-ac92a0eb2af8",
      "name": "js-merge-with-desc",
      "type": "n8n-nodes-base.code",
      "position": [
        83472,
        22208
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst html = items[0].json.data || \"\";\n\nif (!html || html.length < 100) {\n    return [{ json: { error: \"No HTML content found\" } }];\n}\n\nfunction extractText(html, regex) {\n    const m = html.match(regex);\n    return m ? m[1].trim() : \"\";\n}\n\nfunction parseNumber(str) {\n    if (!str) return 0;\n    const cleaned = str.replace(/\\s/g, \"\").replace(\",\", \".\");\n    const n = parseFloat(cleaned);\n    return isNaN(n) ? 0 : n;\n}\n\nfunction extractSpec(html, label) {\n    const re = new RegExp(\n        '<p class=\"spacificationLabel\">[^<]*?' + label + '[^<]*?</p>\\\\s*<p class=\"spacificationValue\">([\\\\s\\\\S]*?)</p>',\n        \"i\"\n    );\n    const m = html.match(re);\n    if (!m) return \"\";\n    return m[1].replace(/<[^>]+>/g, \"\").trim();\n}\n\nconst refId = extractText(html, /<p class=\"subHeader\">\\s*(.*?)\\s*<\\/p>/);\nconst url = extractText(html, /<link rel=\"canonical\" href=\"([^\"]+)\"/);\n\nlet title = extractText(html, /<h1[^>]*>\\s*([\\s\\S]*?)\\s*<\\/h1>/);\ntitle = title.replace(/<[^>]+>/g, \"\").trim();\n\nconst priceRaw = extractText(html, /<h2 class=\"h3\">\\s*([\\s\\S]*?)\\s*<span class=\"price-for-m2\"/);\nconst price = parseNumber(priceRaw.replace(/<[^>]+>/g, \"\").replace(/PLN|zł/gi, \"\"));\n\nconst ppm2Raw = extractText(html, /class=\"price-for-m2\"[^>]*>([\\s\\S]*?)<\\/span>/);\nconst pricePerM2 = parseNumber(ppm2Raw.replace(/<[^>]+>/g, \"\").replace(/zł za m2?/gi, \"\"));\n\nconst areaRaw = extractSpec(html, \"Powierzchnia\");\nconst area = parseNumber(areaRaw.replace(/m2?/gi, \"\"));\n\nconst roomsRaw = extractSpec(html, \"Ilość pokoi\");\nconst rooms = parseNumber(roomsRaw) || 0;\n\nreturn [{\n    json: {\n        external_id: \"TS-\" + (refId ? refId.replace(/\\//g, \"-\") : Date.now()),\n        category: \"mieszkanie-krakow\",\n        url: url,\n        title: \"Oferta TS: \" + (title || refId),\n        price: price,\n        price_per_m2: pricePerM2,\n        area: area,\n        rooms: rooms,\n        lot_size: 0,\n        construction_year: 0,\n        created_at: new Date().toISOString(),\n        property_portal: 'Tecnocasa',\n        raw_html: html\n    }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        81680,
        22016
      ],
      "id": "9f63be4e-b442-4f95-9dff-f384e7fb4a03",
      "name": "js-ts-parser"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst html = items[0].json.data || \"\";\n\nconst jsonMatch = html.match(/<script\\b[^>]*type=\"application\\/json\"[^>]*>([\\s\\S]*?pageProps[\\s\\S]*?)<\\/script>/);\n\nif (!jsonMatch) {\n    return [{ json: { error: \"Failed to extract JSON with offers\" } }];\n}\n\ntry {\n    const fullData = JSON.parse(jsonMatch[1].trim());\n    const ads = fullData?.props?.pageProps?.data?.searchAds?.items || \n                fullData?.props?.pageProps?.apolloState?.data?.searchAds?.items || [];\n\n    if (ads.length === 0) return [];\n\n    return ads.map(ad => ({\n        json: {\n            external_id: \"OT-\" + ad.id,\n            category: \"mieszkanie-krakow\",\n            url: \"https://www.otodom.pl/pl/oferta/\" + ad.slug,\n            title: \"Oferta OT: \" + ad.title,\n            price: ad.totalPrice?.value || 0,\n            price_per_m2: ad.pricePerSquareMeter?.value || 0,\n            area: ad.areaInSquareMeters || 0,\n            rooms: ad.roomsNumber || 0,\n            lot_size: 0,\n            construction_year: 0,\n            created_at: new Date().toISOString(),\n            property_portal: 'Otodom'          \n        }\n    }));\n\n} catch (e) {\n    return [{ json: { error: \"JSON parsing error: \" + e.message } }];\n}"
      },
      "id": "a8bee77d-fb43-4d3f-920f-030044c1e7c4",
      "name": "js-od-parser",
      "type": "n8n-nodes-base.code",
      "position": [
        82128,
        22432
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "id": "0ccaeedc-7aa2-4763-b086-0b2fcd93536d",
      "name": "hr-offer-details",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        83248,
        22208
      ],
      "typeVersion": 4.4
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH incoming AS (\n    SELECT\n        '{{ $json.external_id }}'::text AS external_id,\n        '{{ $json.category || 'mieszkanie-krakow' }}'::text AS category,\n        '{{ $json.url }}'::text AS url,\n        '{{ String($json.title || '').replace(/'/g, \"''\") }}'::text AS title,\n        {{ Number($json.price) || 0 }}::numeric AS price,\n        {{ Number($json.price_per_m2) || 0 }}::numeric AS price_per_m2,\n        {{ Number($json.area) || 0 }}::numeric AS area,\n        {{ Number($json.lot_size) || 0 }}::numeric AS lot_size,\n        {{ Number($json.construction_year) || 0 }}::integer AS construction_year,\n        '{{ $json.created_at || new Date().toISOString() }}'::timestamp AS created_at,\n        NOW()::timestamp AS last_seen_at\n)\nINSERT INTO rea_property_offers (\n    external_id, category, url, title,\n    price, price_per_m2, area, lot_size,\n    construction_year, ai_rating, user_rating,\n    created_at, last_seen_at\n)\nSELECT\n    external_id, category, url, title,\n    price, price_per_m2, area, lot_size,\n    construction_year, NULL, 'pending',\n    created_at, last_seen_at\nFROM incoming\nWHERE\n    NULLIF(BTRIM(external_id), '') IS NOT NULL\n    AND LOWER(BTRIM(external_id)) <> 'undefined'\n    AND NULLIF(BTRIM(url), '') IS NOT NULL\n    AND LOWER(BTRIM(url)) <> 'undefined'\n    AND BTRIM(url) ~* '^https?://'\nON CONFLICT (external_id) DO UPDATE SET\n    category = EXCLUDED.category,\n    url = EXCLUDED.url,\n    title = COALESCE(NULLIF(EXCLUDED.title, ''), rea_property_offers.title),\n    price = CASE WHEN COALESCE(EXCLUDED.price, 0) > 0 THEN EXCLUDED.price ELSE rea_property_offers.price END,\n    price_per_m2 = CASE WHEN COALESCE(EXCLUDED.price_per_m2, 0) > 0 THEN EXCLUDED.price_per_m2 ELSE rea_property_offers.price_per_m2 END,\n    area = CASE WHEN COALESCE(EXCLUDED.area, 0) > 0 THEN EXCLUDED.area ELSE rea_property_offers.area END,\n    lot_size = CASE WHEN COALESCE(EXCLUDED.lot_size, 0) > 0 THEN EXCLUDED.lot_size ELSE rea_property_offers.lot_size END,\n    construction_year = CASE WHEN COALESCE(EXCLUDED.construction_year, 0) > 0 THEN EXCLUDED.construction_year ELSE rea_property_offers.construction_year END,\n    last_seen_at = EXCLUDED.last_seen_at\nRETURNING *;",
        "options": {
          "queryReplacement": "="
        }
      },
      "id": "5f88ce09-5673-4fcd-b57a-e1d72724aa09",
      "name": "sql-add-offer",
      "type": "n8n-nodes-base.postgres",
      "position": [
        82800,
        22208
      ],
      "typeVersion": 2.6,
      "credentials": {
        "postgres": {
          "id": "D430FF4ekWv9XfdT",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "formTitle": "Nowa oferta",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Link do oferty"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        81232,
        22016
      ],
      "id": "f0e6bdaf-f321-42c5-9529-619c244c6158",
      "name": "ofs-ts",
      "webhookId": "2e2cf06f-6d16-467e-a3d8-dc04cf85bb09"
    },
    {
      "parameters": {
        "url": "={{ $json[\"Link do oferty\"] }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36"
            }
          ]
        },
        "options": {}
      },
      "id": "1d5c3bc0-5a7a-48b8-b690-d48721a4ef06",
      "name": "hr-ts-apartment",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        81456,
        22016
      ],
      "typeVersion": 4.4
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "id": "69d2e211-cd24-43a8-b074-0f486154b0bf",
      "name": "merge-offers",
      "type": "n8n-nodes-base.merge",
      "position": [
        82352,
        22192
      ],
      "typeVersion": 3.2
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nconst MIN_AREA_SQM = 90;\n\nconst isNonEmpty = (value) => String(value ?? '').trim() !== '';\nconst isUndefinedLiteral = (value) => String(value ?? '').trim().toLowerCase() === 'undefined';\nconst isHttpUrl = (value) => /^https?:\\/\\//i.test(String(value ?? '').trim());\n\nreturn items\n  .map((item) => ({ ...item, json: { ...item.json } }))\n  .filter((item) => {\n    const externalId = item.json.external_id;\n    const url = item.json.url;\n\n    if (!isNonEmpty(externalId) || isUndefinedLiteral(externalId)) return false;\n    if (!isNonEmpty(url) || isUndefinedLiteral(url)) return false;\n    if (!isHttpUrl(url)) return false;\n\n    // Reject offers below minimum area when area is known\n    const area = Number(item.json.area);\n    if (area > 0 && area < MIN_AREA_SQM) return false;\n\n    return true;\n  });"
      },
      "id": "6e08450b-431f-4049-9fca-721677def6e2",
      "name": "js-validate-offer-before-sql",
      "type": "n8n-nodes-base.code",
      "position": [
        82576,
        22208
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM rea_property_offers\nWHERE sent_at IS NULL\n  AND COALESCE(is_in_trash, FALSE) = FALSE\n  AND COALESCE(excluded_from_feedback_loop, FALSE) = FALSE\n  AND ai_rating BETWEEN 4 AND 10\n  AND COALESCE(NULLIF(ai_analysis_html, ''), '') <> ''\nORDER BY ai_rating DESC, created_at DESC;",
        "options": {
          "queryReplacement": "="
        }
      },
      "id": "64521da8-ed0c-4b7c-9762-8dc583664b1e",
      "name": "sql-offers-for-email",
      "type": "n8n-nodes-base.postgres",
      "position": [
        81456,
        21792
      ],
      "typeVersion": 2.6,
      "credentials": {
        "postgres": {
          "id": "D430FF4ekWv9XfdT",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "przemek.adamowski@gmail.com",
        "subject": "={{ $json.title }}",
        "message": "=<div style=\"font-family: Arial, sans-serif; line-height: 1.6; color: #333;\">\n  \n  <h2 style=\"color: #2c3e50; margin-bottom: 5px;\">{{ $json.title }}</h2>\n  <p style=\"font-size: 16px; margin-top: 0;\">\n    💰 <strong>Price:</strong> {{ $json.price.toLocaleString() }} PLN \n    ({{ $json.price_per_m2 }} PLN/m2)\n  </p>\n\n  <div style=\"background-color: #f9f9f9; padding: 15px; border-left: 5px solid #007bff; margin-bottom: 20px;\">\n    {{ $json.ai_analysis_html }}\n  </div>\n\n  <hr>\n\n  <p><strong>Your verdict:</strong></p>\n  \n  <div style=\"margin-top: 15px;\">\n    <a href=\"https://docs.google.com/forms/d/e/1FAIpQLSe7In4T7-oc0oscsZ2tgTRID_smQ58UP8hUj5JAlEwfYVXsUA/viewform?usp=pp_url&entry.443176421={{ $json.external_id }}&entry.1028842774=👍+I+like+it\" \n       style=\"background-color: #28a745; color: white; padding: 10px 20px; text-decoration: none; border-radius: 5px; font-weight: bold; margin-right: 10px;\">\n       👍 I like it\n    </a>\n\n    <a href=\"https://docs.google.com/forms/d/e/1FAIpQLSe7In4T7-oc0oscsZ2tgTRID_smQ58UP8hUj5JAlEwfYVXsUA/viewform?usp=pp_url&entry.443176421={{ $json.external_id }}&entry.1028842774=👎+I+don't+like+it\" \n       style=\"background-color: #dc3545; color: white; padding: 10px 20px; text-decoration: none; border-radius: 5px; font-weight: bold;\">\n       👎 Not for me\n    </a>\n  </div>\n\n  <p style=\"margin-top: 25px;\">\n    🔗 <a href=\"{{ $json.url }}\" style=\"color: #007bff; text-decoration: underline;\">View original listing</a>\n  </p>\n</div>",
        "options": {}
      },
      "id": "ee5c30f9-a8b5-498b-bb77-109e6aa1a56e",
      "name": "sm-offer",
      "type": "n8n-nodes-base.gmail",
      "position": [
        81680,
        21792
      ],
      "webhookId": "31dbee88-f365-4d9f-a6b3-ff8ff3a241ca",
      "typeVersion": 2.2,
      "credentials": {
        "gmailOAuth2": {
          "id": "mSWtSpp3pUzfKGuJ",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE \"rea_property_offers\" \nSET \"sent_at\" = NOW() \nWHERE \"external_id\" = '{{ $node[\"Execute a SQL query - Add AI Rating\"].json.external_id }}';",
        "options": {}
      },
      "id": "6bf4bdd8-cc5b-4ac1-a59c-df7595309a28",
      "name": "sql-offers-sent",
      "type": "n8n-nodes-base.postgres",
      "position": [
        81904,
        21792
      ],
      "typeVersion": 2.6,
      "credentials": {
        "postgres": {
          "id": "D430FF4ekWv9XfdT",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw = String($json.output || '').trim();\n\nconst parseNumber = (value, fallback = 0) => {\n  const normalized = String(value ?? '').trim();\n  if (!normalized) return fallback;\n\n  const num = Number(normalized.replace(',', '.'));\n  return Number.isFinite(num) ? num : fallback;\n};\n\nconst parseNullableNumber = (value) => {\n  const normalized = String(value ?? '').trim();\n  if (!normalized) return null;\n\n  const num = Number(normalized.replace(',', '.'));\n  return Number.isFinite(num) ? num : null;\n};\n\nconst stripFences = (text) => {\n  const trimmed = String(text || '').trim();\n  const fenceMatch = trimmed.match(/```(?:json)?\\s*([\\s\\S]*?)\\s*```/i);\n  return fenceMatch ? fenceMatch[1].trim() : trimmed;\n};\n\nconst escapeHtml = (text) =>\n  String(text || '')\n    .replace(/&/g, '&amp;')\n    .replace(/</g, '&lt;')\n    .replace(/>/g, '&gt;')\n    .replace(/\"/g, '&quot;')\n    .replace(/'/g, '&#39;');\n\nconst inferExternalIdFromRaw = (text) => {\n  const source = stripFences(text);\n  const match = source.match(/\"external_id\"\\s*:\\s*\"([^\"]+)\"/i);\n  return String(match?.[1] || '').trim();\n};\n\nconst inferAiRatingFromRaw = (text) => {\n  const source = stripFences(text);\n  const match = source.match(/\"ai_rating\"\\s*:\\s*([0-9]{1,2})/i);\n  return match ? Number(match[1]) : null;\n};\n\nconst inferAiAnalysisHtmlFromRaw = (text) => {\n  const source = stripFences(text);\n  const marker = '\"ai_analysis_html\"';\n  const markerIndex = source.toLowerCase().indexOf(marker.toLowerCase());\n  if (markerIndex === -1) return '';\n\n  const afterMarker = source.slice(markerIndex);\n  const firstQuote = afterMarker.indexOf('\"', marker.length);\n  if (firstQuote === -1) return '';\n\n  const valuePart = afterMarker.slice(firstQuote + 1);\n  const endQuoteMatch = valuePart.match(/\"\\s*(,|\\})/);\n  const quoted = endQuoteMatch ? valuePart.slice(0, endQuoteMatch.index) : valuePart;\n\n  const normalized = quoted\n    .replace(/\\\\n/g, '\\n')\n    .replace(/\\\\r/g, '\\r')\n    .replace(/\\\\t/g, '\\t')\n    .replace(/\\\\\"/g, '\"')\n    .replace(/\\\\\\//g, '/');\n\n  return String(normalized || '').trim();\n};\n\nconst buildCurrentParsed = () => {\n  const currentAiRating = parseNullableNumber($json.ai_rating);\n  const rawExternalId = inferExternalIdFromRaw(raw);\n\n  return {\n    external_id: String($json.external_id || rawExternalId || '').trim(),\n    title: String($json.title || '').trim(),\n    price: parseNumber($json.price, 0),\n    price_per_m2: parseNumber($json.price_per_m2, 0),\n    area: parseNumber($json.area, 0),\n    lot_size: parseNumber($json.lot_size, 0),\n    construction_year: Math.round(parseNumber($json.construction_year, 0)),\n    ai_rating: currentAiRating === null ? null : Math.round(currentAiRating),\n    ai_analysis_html: String($json.ai_analysis_html || '').trim(),\n  };\n};\n\nconst buildFailure = (reason, details = {}) => ([{\n  json: {\n    ...$json,\n    ai_parse_valid: false,\n    ai_parse_error: reason,\n    ai_parse_details: details,\n    ai_parsed: buildCurrentParsed(),\n  },\n}]);\n\nif (!raw) {\n  return buildFailure('empty_output');\n}\n\nconst parseJson = (text) => {\n  const candidate = stripFences(text);\n\n  try {\n    return JSON.parse(candidate);\n  } catch (_) {\n    const objectMatch = candidate.match(/\\{[\\s\\S]*\\}/);\n    if (!objectMatch) return null;\n\n    try {\n      return JSON.parse(objectMatch[0]);\n    } catch (_) {\n      return null;\n    }\n  }\n};\n\nconst expectedExternalId = String($json.external_id || '').trim();\nconst parsed = parseJson(raw);\n\nlet parsedExternalId = '';\nlet parsedTitle = '';\nlet parsedPrice = parseNumber($json.price, 0);\nlet parsedPricePerM2 = parseNumber($json.price_per_m2, 0);\nlet parsedArea = parseNumber($json.area, 0);\nlet parsedLotSize = parseNumber($json.lot_size, 0);\nlet parsedConstructionYear = Math.round(parseNumber($json.construction_year, 0));\nlet aiRating = parseNullableNumber($json.ai_rating);\nlet aiAnalysisHtml = String($json.ai_analysis_html || '').trim();\nlet parseError = null;\nlet parseDetails = null;\n\nif (parsed && typeof parsed === 'object') {\n  parsedExternalId = String(parsed.external_id || '').trim();\n  parsedTitle = String(parsed.title || '').trim();\n  parsedPrice = parseNumber(parsed.price, parsedPrice);\n  parsedPricePerM2 = parseNumber(parsed.price_per_m2, parsedPricePerM2);\n  parsedArea = parseNumber(parsed.area, parsedArea);\n  parsedLotSize = parseNumber(parsed.lot_size, parsedLotSize);\n  parsedConstructionYear = Math.round(parseNumber(parsed.construction_year, parsedConstructionYear));\n  aiRating = parseNullableNumber(parsed.ai_rating);\n  aiAnalysisHtml = String(parsed.ai_analysis_html || aiAnalysisHtml).trim();\n} else {\n  parsedExternalId = inferExternalIdFromRaw(raw);\n  parsedTitle = String($json.title || '').trim();\n  const recoveredRating = inferAiRatingFromRaw(raw);\n  aiRating = Number.isFinite(recoveredRating) ? recoveredRating : aiRating;\n  aiAnalysisHtml = inferAiAnalysisHtmlFromRaw(raw) || aiAnalysisHtml;\n\n  parseError = 'invalid_json_recovered';\n  parseDetails = {\n    recovered_external_id: parsedExternalId || null,\n    recovered_ai_rating: Number.isFinite(aiRating) ? aiRating : null,\n  };\n}\n\nif (!parsedExternalId) {\n  parsedExternalId = expectedExternalId;\n}\n\nif (!parsedExternalId) {\n  return buildFailure('missing_external_id');\n}\n\nif (expectedExternalId && parsedExternalId !== expectedExternalId) {\n  return buildFailure('external_id_mismatch', {\n    expected_external_id: expectedExternalId,\n    parsed_external_id: parsedExternalId,\n  });\n}\n\nconst roundedRating = aiRating === null ? null : Math.round(parseNumber(aiRating, NaN));\nif (!Number.isFinite(roundedRating) || roundedRating < 1 || roundedRating > 10) {\n  return buildFailure('invalid_ai_rating', {\n    parsed_ai_rating: aiRating,\n  });\n}\n\nif (!aiAnalysisHtml) {\n  const fallbackPreview = stripFences(raw).slice(0, 3500);\n  aiAnalysisHtml = `<pre>${escapeHtml(fallbackPreview)}</pre>`;\n  if (!parseError) {\n    parseError = 'missing_ai_analysis_html_recovered';\n    parseDetails = { recovered_from_raw_preview: true };\n  }\n}\n\nreturn [{\n  json: {\n    ...$json,\n    ai_parse_valid: parseError ? false : true,\n    ai_parse_error: parseError,\n    ai_parse_details: parseDetails,\n    ai_parsed: {\n      external_id: parsedExternalId,\n      title: parsedTitle || String($json.title || '').trim() || 'Oferta: ' + parsedExternalId,\n      price: parsedPrice,\n      price_per_m2: parsedPricePerM2,\n      area: parsedArea,\n      lot_size: parsedLotSize,\n      construction_year: parsedConstructionYear,\n      ai_rating: roundedRating,\n      ai_analysis_html: aiAnalysisHtml,\n    },\n  },\n}];\n"
      },
      "id": "a7977914-7ea7-40cd-8551-7feb36fb3245",
      "name": "js-aia-output-parser",
      "type": "n8n-nodes-base.code",
      "position": [
        84960,
        22400
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public",
          "cachedResultName": "public"
        },
        "table": {
          "__rl": true,
          "mode": "list",
          "value": "rea_property_offers",
          "cachedResultName": "rea_property_offers"
        },
        "columns": {
          "value": {
            "area": "={{ $json.ai_parsed.area }}",
            "price": "={{ $json.ai_parsed.price }}",
            "title": "={{ $json.ai_parsed.title }}",
            "lot_size": "={{ $json.ai_parsed.lot_size }}",
            "ai_rating": "={{ $json.ai_parsed.ai_rating }}",
            "external_id": "={{ $json.ai_parsed.external_id.toString() }}",
            "price_per_m2": "={{ $json.ai_parsed.price_per_m2 }}",
            "ai_analysis_html": "={{ $json.ai_parsed.ai_analysis_html }}",
            "construction_year": "={{ $json.ai_parsed.construction_year }}"
          },
          "schema": [
            {
              "id": "external_id",
              "type": "string",
              "display": true,
              "removed": false,
              "required": true,
              "displayName": "external_id",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "category",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "category",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "url",
              "type": "string",
              "display": true,
              "required": true,
              "displayName": "url",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "title",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "title",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "price",
              "type": "number",
              "display": true,
              "required": false,
              "displayName": "price",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "price_per_m2",
              "type": "number",
              "display": true,
              "required": false,
              "displayName": "price_per_m2",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "area",
              "type": "number",
              "display": true,
              "required": false,
              "displayName": "area",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "lot_size",
              "type": "number",
              "display": true,
              "required": false,
              "displayName": "lot_size",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "construction_year",
              "type": "number",
              "display": true,
              "required": false,
              "displayName": "construction_year",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "ai_rating",
              "type": "number",
              "display": true,
              "required": false,
              "displayName": "ai_rating",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "user_rating",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "user_rating",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "user_notes",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "user_notes",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "type": "dateTime",
              "display": true,
              "required": false,
              "displayName": "created_at",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "last_seen_at",
              "type": "dateTime",
              "display": true,
              "required": false,
              "displayName": "last_seen_at",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "ai_analysis_html",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "ai_analysis_html",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [
            "external_id"
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "c81edcc7-1743-47c7-aad7-661291663b85",
      "name": "sql-aia-update-offer",
      "type": "n8n-nodes-base.postgres",
      "position": [
        85184,
        22544
      ],
      "typeVersion": 2.6,
      "credentials": {
        "postgres": {
          "id": "D430FF4ekWv9XfdT",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const feedbackHint = $json.feedback_hint || 'No feedback hint available';\n\nconst getPairedOffer = (nodeName) => {\n  try {\n    const candidate = $(nodeName).item?.json;\n    return candidate && candidate.external_id ? candidate : null;\n  } catch (error) {\n    return null;\n  }\n};\n\nconst offer =\n  getPairedOffer('Wait') ||\n  getPairedOffer('Loop Over Items') ||\n  getPairedOffer('Code in JavaScript - merge backfill with desc') ||\n  getPairedOffer('Code in JavaScript - merge offer with desc') ||\n  {};\n\nreturn [{\n  json: {\n    ...offer,\n    feedback_hint: feedbackHint,\n    feedback_hint_debug: feedbackHint\n  }\n}];"
      },
      "id": "99ef6f08-83ff-45a3-b1a1-19f8318dfd73",
      "name": "js-aia-attach-feedback-hint",
      "type": "n8n-nodes-base.code",
      "position": [
        84384,
        22400
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH rated_offers AS (\n    SELECT\n        external_id,\n        title,\n        user_notes,\n        user_rated_at,\n        COALESCE(\n            user_grade,\n            CASE user_rating\n                WHEN 'like' THEN 4\n                WHEN '👍 I like it' THEN 4\n                WHEN 'dislike' THEN 2\n                WHEN '👎 I don''t like it' THEN 2\n                ELSE NULL\n            END\n        ) AS effective_grade\n    FROM rea_property_offers\n    WHERE COALESCE(is_in_trash, FALSE) = FALSE\n      AND COALESCE(excluded_from_feedback_loop, FALSE) = FALSE\n),\nbest_examples AS (\n    SELECT *\n    FROM rated_offers\n    WHERE effective_grade IN (5, 4)\n    ORDER BY CASE effective_grade WHEN 5 THEN 0 WHEN 4 THEN 1 ELSE 2 END, user_rated_at DESC NULLS LAST, external_id\n    LIMIT 3\n),\nworst_examples AS (\n    SELECT *\n    FROM rated_offers\n    WHERE effective_grade IN (1, 2)\n    ORDER BY CASE effective_grade WHEN 1 THEN 0 WHEN 2 THEN 1 ELSE 2 END, user_rated_at DESC NULLS LAST, external_id\n    LIMIT 3\n)\nSELECT CONCAT(\n    'BEST RATED EXAMPLES (prioritize grade 5, then 4; up to 3):',\n    COALESCE(\n        (\n            SELECT E'\\n' || string_agg(\n                format(\n                    '- grade=%s | external_id=%s | title=%s | notes=%s',\n                    effective_grade,\n                    external_id,\n                    COALESCE(left(title, 140), 'n/a'),\n                    COALESCE(NULLIF(left(user_notes, 200), ''), 'none')\n                ),\n                E'\\n'\n            )\n            FROM best_examples\n        ),\n        E'\\n- none yet'\n    ),\n    E'\\n\\nWORST RATED EXAMPLES (prioritize grade 1, then 2; up to 3):',\n    COALESCE(\n        (\n            SELECT E'\\n' || string_agg(\n                format(\n                    '- grade=%s | external_id=%s | title=%s | notes=%s',\n                    effective_grade,\n                    external_id,\n                    COALESCE(left(title, 140), 'n/a'),\n                    COALESCE(NULLIF(left(user_notes, 200), ''), 'none')\n                ),\n                E'\\n'\n            )\n            FROM worst_examples\n        ),\n        E'\\n- none yet'\n    )\n) AS feedback_hint;",
        "options": {
          "queryReplacement": "="
        }
      },
      "id": "77e647c6-6519-4d6a-8207-fb023bf4b01f",
      "name": "sql-aia-feedback-hints",
      "type": "n8n-nodes-base.postgres",
      "position": [
        84160,
        22400
      ],
      "typeVersion": 2.6,
      "credentials": {
        "postgres": {
          "id": "D430FF4ekWv9XfdT",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 16
            }
          ]
        }
      },
      "id": "ac85bbb7-5f30-4c6b-b3a5-84257f1b5200",
      "name": "st-collect-assessments",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        81232,
        22832
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "mode": "list",
          "value": "rea_property_offers",
          "cachedResultName": "rea_property_offers"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "user_notes": "={{ $json.Comment }}",
            "external_id": "={{ $json.ID }}",
            "user_rating": "={{ $json.Assessment }}",
            "price": 0,
            "price_per_m2": 0,
            "area": 0,
            "lot_size": 0,
            "construction_year": 0,
            "ai_rating": 0
          },
          "matchingColumns": [
            "external_id"
          ],
          "schema": [
            {
              "id": "external_id",
              "type": "string",
              "display": true,
              "removed": false,
              "required": true,
              "displayName": "external_id",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "category",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "category",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "url",
              "type": "string",
              "display": true,
              "required": true,
              "displayName": "url",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "title",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "title",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "price",
              "type": "number",
              "display": true,
              "required": false,
              "displayName": "price",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "price_per_m2",
              "type": "number",
              "display": true,
              "required": false,
              "displayName": "price_per_m2",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "area",
              "type": "number",
              "display": true,
              "required": false,
              "displayName": "area",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "lot_size",
              "type": "number",
              "display": true,
              "required": false,
              "displayName": "lot_size",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "construction_year",
              "type": "number",
              "display": true,
              "required": false,
              "displayName": "construction_year",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "ai_rating",
              "type": "number",
              "display": true,
              "required": false,
              "displayName": "ai_rating",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "user_rating",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "user_rating",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "user_notes",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "user_notes",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "type": "dateTime",
              "display": true,
              "required": false,
              "displayName": "created_at",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "last_seen_at",
              "type": "dateTime",
              "display": true,
              "required": false,
              "displayName": "last_seen_at",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "ai_analysis_html",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "ai_analysis_html",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "sent_at",
              "type": "dateTime",
              "display": true,
              "required": false,
              "displayName": "sent_at",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "fb5beef4-5664-4e69-9264-b174d7779729",
      "name": "sql-google-sheets",
      "type": "n8n-nodes-base.postgres",
      "position": [
        81680,
        22832
      ],
      "typeVersion": 2.6,
      "credentials": {
        "postgres": {
          "id": "D430FF4ekWv9XfdT",
          "name": "Postgres account"
        }
      }
    }
  ],
  "pinData": {
    "sql-offers-for-email": [
      {
        "json": {
          "external_id": "TS-KRMH1-0122",
          "category": "mieszkanie-krakow",
          "url": "https://tecnocasa.pl/nieruchomosci/dwupoziomowe-mieszkanie-na-kazimierzu/",
          "title": "Kraków – Kazimierz – ul. Szeroka - 90 m²",
          "price": "1599000",
          "price_per_m2": "17766.67",
          "area": "90",
          "lot_size": "0",
          "construction_year": 0,
          "ai_rating": 6,
          "user_rating": "pending",
          "user_notes": null,
          "created_at": "2026-04-07T19:03:09.394Z",
          "last_seen_at": "2026-04-07T19:03:24.696Z",
          "ai_analysis_html": "<strong>Listing analysis:</strong> This property is located in a prime district of Krakow and meets the minimum area requirement. However, it receives deductions for not fully matching the preferred layout, lacking an elevator, and requiring renovation.<br><strong>AI Verdict:</strong> Good area and flexible layout in a prime Krakow location, but deductions for specific layout features, lack of an elevator, and the need for renovation.<br><strong>Pros Analysis:</strong><br><ul><br>  <li>✅ Location: Highly desirable Kazimierz district in Krakow.</li><br>  <li>✅ Area: Meets the minimum requirement of 90 sqm.</li><br>  <li>✅ Layout: Dwupoziomowe (two-level) with 4 rooms, adaptable to achieve 3 bedrooms.</li><br>  <li>✅ Heating: District heating (miejskie), avoiding electric or gas heating.</li><br>  <li>✅ Building type: Kamienica (tenement house), likely fitting the boutique building type criteria.</li><br></ul><br><strong>Risk Analysis (Cons):</strong><br><ul><br>  <li>❌ Layout: Only 1 bathroom available, while 2 bathrooms are preferred.</li><br>  <li>❌ Layout: Features a balcony, not a terrace as preferred.</li><br>  <li>❌ Amenities: No elevator in the building.</li><br>  <li>❌ Condition: The apartment is described as \"Do remontu\" (requires renovation).</li><br></ul><br><strong>Location:</strong> Kraków, Kazimierz, ul. Szeroka.",
          "sent_at": null
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Wait": {
      "main": [
        [
          {
            "node": "sql-aia-feedback-hints",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "hr-offer-details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "js-aia-output-parser",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "sql-google-sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "hr-od-apartment": {
      "main": [
        [
          {
            "node": "js-od-parser",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "hr-no-apartment": {
      "main": [
        [
          {
            "node": "js-no-parser",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "st-apartment": {
      "main": [
        [
          {
            "node": "hr-od-apartment",
            "type": "main",
            "index": 0
          },
          {
            "node": "hr-no-apartment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "js-no-parser": {
      "main": [
        [
          {
            "node": "hr-no-investment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "hr-no-investment": {
      "main": [
        [
          {
            "node": "js-no-apartments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "js-no-apartments": {
      "main": [
        [
          {
            "node": "merge-offers",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "st-ai-rating": {
      "main": [
        [
          {
            "node": "sql-backfill-ai",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "st-email": {
      "main": [
        [
          {
            "node": "sql-offers-for-email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "sql-backfill-ai": {
      "main": [
        [
          {
            "node": "hr-backfill",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "hr-backfill": {
      "main": [
        [
          {
            "node": "js-backfill-merge-with-desc",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "js-backfill-merge-with-desc": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "js-merge-with-desc": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "js-ts-parser": {
      "main": [
        [
          {
            "node": "merge-offers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "js-od-parser": {
      "main": [
        [
          {
            "node": "merge-offers",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "hr-offer-details": {
      "main": [
        [
          {
            "node": "js-merge-with-desc",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "sql-add-offer": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ofs-ts": {
      "main": [
        [
          {
            "node": "hr-ts-apartment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "hr-ts-apartment": {
      "main": [
        [
          {
            "node": "js-ts-parser",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "merge-offers": {
      "main": [
        [
          {
            "node": "js-validate-offer-before-sql",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "js-validate-offer-before-sql": {
      "main": [
        [
          {
            "node": "sql-add-offer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "sql-offers-for-email": {
      "main": [
        [
          {
            "node": "sm-offer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "sm-offer": {
      "main": [
        [
          {
            "node": "sql-offers-sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "js-aia-output-parser": {
      "main": [
        [
          {
            "node": "sql-aia-update-offer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "sql-aia-update-offer": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "js-aia-attach-feedback-hint": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "sql-aia-feedback-hints": {
      "main": [
        [
          {
            "node": "js-aia-attach-feedback-hint",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "st-collect-assessments": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "a463010b-2bfd-4254-bd22-2471cce85493",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "cd5a0eb2c3b2fb3443c00d8190c11e82c6cb92a03afc70526430248f50289402"
  },
  "id": "tpFQQh5n9ONn3x9I",
  "tags": []
}
